<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bounciness equals greatness, unfortunatelly still Homo homini lupus</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.17.1/matter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.sound.min.js"></script>
    <style>
        body {
            margin: 0;
            overflow: hidden;
            height: 100vh;
            background: radial-gradient(circle at center, #fff 20%, #000 100%);
            background-size: cover;
        }
    </style>
</head>
<body>
    <script src="static/js/sketch.js"></script>
</body>
</html>
